{% load i18n %}
{% load humanize %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block style-sheet %}
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "newsfirst/css/news_first_reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "newsfirst/css/news_first_base1.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/bootstrap.min.css" %}" >
    {% endblock style-sheet %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Machine Readable Beats is a state of the art streaming news service for the automatic consumption of global trusted news sources built specifically for the trading community.The ultra low latency feed provides real-time and historical news content in an industry standard message format. A patent pending dynamic pricing engine computes the value of each article in real-time. Trading algorithms can take advantage of this cutting edge technology to zero-in on alpha generating opportunities and identify potential risk.">
    <meta name="author" content="Amir Edry">
    <title>{% block title %}qbeats.{% endblock %}</title>

</head>

<body>

<div id="site-header" class="navbar">

{% block site-header %}

<a id ="logo" href="{% url 'homepage' %}"></a>

<div class= "qbSignin-SignedIn">

	{% if user.is_authenticated %}
	{% trans "Signed in as" %}&#8201;<a  id="username_link" href="{% url 'userprofiles_profile' %}">{{ user.username }}</a>
    (<a href="{% url 'auth_logout' %}">{% trans "Sign out" %}</a>)

	{% endif %}

</div>
     {% endblock site-header %}
</div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>


</body>
{% block script-footer %}

{% endblock script-footer %}
</html>
