{% load i18n %}
<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qbeats_home/css/register.css">
    <title></title>
</head>
<body>

<div id="header">
	<a id="logo" href={% url "auth_login" %}></a>

</div>

<div id=main >

<div id=leftPane>
    <h1> News First account registration</h1>
<form method="post" action=".">{% csrf_token %}
 {{ form1.as_p}}
 {{ form2.as_p }}
 <input class="signin" type="submit" value= "CREATE ACCOUNT" />
</form>
</div>

<div id=rightPane>
<p>Already have a News First account?<p>
<form  method="get" action={% url "auth_login" %}>
    <span> <input class="signin" type="submit" value="Sign in"/> </span>
</form>
</div>
</div>
</body>
</html>