{% extends "qb_registration/base.html" %}
{% load i18n %}

{% block style-sheet %}
{{ block.super }}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "custom_user_profile/css/register.css" %}">
{% endblock style-sheet %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Machine Readable Beats is a state of the art streaming news service for the automatic consumption of global trusted news sources built specifically for the trading community.The ultra low latency feed provides real-time and historical news content in an industry standard message format. A patent pending dynamic pricing engine computes the value of each article in real-time. Trading algorithms can take advantage of this cutting edge technology to zero-in on alpha generating opportunities and identify potential risk.">
    <meta name="author" content="Amir Edry">
    <title>{% block title %}qbeats. MRB{% endblock %}</title>

{% block content %}
<div class="password_reset">
<h3>{% trans 'Password reset successful' %}</h3>

<p>{% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}</p>
</div>
{% endblock %}
