<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contact Us |qbeats</title>
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "qbeats_home/css/contact.css" %}">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



<div class="container">

    <div class="logo-qb row">
      <div class="col-md-12">
          <a id ="logoqb" href="{% url 'homepage' %}"> </a>
      </div>
    </div>

    <hr>
    <div class="row">
            <div id="call" class="col-md-6">

            		<header>

                        <h2>Phone</h2>
                        <h3>Give us a ring</h3>
                        <a href="tel: 866-703-6379">866-703-6379</a>
                        <p>Whether it's to say hello or learn more about qbeats, it would be great to hear from you, especially for all you first time callers.</p>

                    </header>

            </div>

            <div id="email" class="col-md-6">

            		<header>

                        <h2>Email</h2>
                        <h3>Send us a message</h3>
                        <a href="mailto:mrbsales@qbeats.com">mrbsales@qbeats.com</a>
                        <p>If you can't reach us by phone, sending us an e-mail is sure to get you a quick response. The more detail you include in your message, the better.</p>


                    </header>

            </div>

         </div>

    <hr>

</div><!-- /.container -->



    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
